/* FLEX BOX */

.menu {
    border: 2px solid rgb(255, 255, 255);
}

/*FLEX CONTAINER 1*/
.header {                                
    display: flex; 
    /* border: 1px solid red; */
    justify-content: center;

}


.greeting {
    display: flex; 
    /* border: 1px solid red; */
    justify-content: center;
    opacity: 0.8;


}

/*FLEX CONTAINER 2*/
.buttons_navi{
    display: flex; 
    /* border: 1px solid red; */
    justify-content: center;
    padding: 10px ;
    height: 30px;
    width: auto;

}

.button_navigation{

    background-color: rgb(240, 222, 164);
    border-radius: 10px;

}

h2 {                  
    color:rgb(130, 130, 130);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    font-weight: lighter;
    font-style: oblique;
    font-size: 20px ;

}


p {
    color: rgb(138, 130, 130);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: lighter;
    font-size: 15px ;
}


/*FLEX CONTAINER 3*/
.our_menu{
    display: flex; 
    /* border: 1px solid rgb(82, 30, 180); */
    justify-content: center;


}

/*FLEX CONTAINER 4*/
.menu_layout{
    display: flex; 
    /* border: 1px solid rgb(48, 202, 125); */
    justify-content: center ;
    width:fit-content;
    padding-left: 40em;
    padding-right: 40em;
    display:block;
}

.image{
    border-radius: 15px;
    box-shadow: 0 0 3em 0 rgba(94, 76, 76, 0.25);
    width: 380px; 
    height: 250px;
}

