/* FLEX BOX */

.header{
    display: flex; 
    /*border: 1px solid red;*/
    justify-content: center;
    height: 200px;
    width: auto;
}


.greetings{
    display: flex; 
    /*border: 1px solid red;*/
    justify-content: center;
}


h1 {                  
    color:rgb(130, 130, 130);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    font-weight: lighter;
    font-style: oblique;
    font-size: 30px ;
}





a {
    color:rgb(94, 52, 190);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: lighter;
    font-size: 20px ;
}





h2 {                         
    color:rgb(67, 67, 67);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    font-weight: lighter;
    font-size: 24px ;
}





h3 {                         
    color:rgb(67, 67, 67);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    font-weight: lighter;
    font-size: 18px ;
}



p {
    color: rgb(63, 62, 62);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: lighter;
    font-size: 30px ;
}


p1 {
    color: rgb(130, 130, 130);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: lighter;
    font-size: 20px ;
}


p2 {
    color: rgb(63, 62, 62);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: lighter;
    font-size: 20px ;
}




.contact_form{
    display:flex;
    /*border: 1px solid rgb(13, 0, 128);*/
    justify-content: center;
    height: 400px;
    width: auto;
}


::placeholder {
    color: rgb(68, 193, 224);
    opacity: 0.6;
}


.text_box{
    color: rgb(22, 32, 170);
    background-color: rgb(226, 225, 221);

}